#main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    height: 100%;

    padding: 8px;
}

.code_preview {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    overflow: hidden;
    background: var(--figma-color-bg-secondary);
    border-radius: 16px;
}

.code_preview .code_header {
    display: flex;
    grid-row: 1;
    gap: 4px;
    align-items: center;
    border-bottom: 1px solid var(--figma-color-border);

    padding: 8px;
}

.code_header button {
    display: flex;
    color: var(--figma-color-text-brand);
    padding: 7px 5px;
    border-radius: 6px;
    border: 1px solid transparent;
}

.code_header button.button_icon_danger {
    display: flex;
    line-height: 32px;
    color: var(--figma-color-text-danger);
    padding: 0;
    border-radius: 6px;
}

.code_header button.button_icon_danger:hover:enabled {
    color: var(--figma-color-icon-danger-hover);
    background: var(--figma-color-bg-danger-tertiary);
}

.code_header button.button_icon_danger:active:enabled {
    color: var(--figma-color-text-onbrand);
    background: var(--figma-color-icon-danger-pressed);
    border: 1px solid var(--figma-color-icon-danger-pressed);
}

.code_header button:active:enabled {
    color: var(--figma-color-text-onbrand);
    background: var(--figma-color-bg-brand);
    border: 1px solid var(--figma-color-border-brand-strong);
}

.code_header button.button_primary {
    border: 1px solid var(--figma-color-border-brand-strong);
}

.code_header button.button_primary:disabled {
    border: 1px solid var(--figma-color-border-disabled-strong);
}

.code_header button:hover:enabled {
    color: var(--figma-color-text-brand);
    background: var(--figma-color-bg-selected);
}

.code_header button:active:enabled {
    color: var(--figma-color-text-onbrand);
    background: var(--figma-color-bg-brand);
}

.code_header button:disabled {
    color: var(--figma-color-text-disabled);
}

.code_preview .code_container {
    grid-row: 3;
    display: flex;
    flex-direction: row;
    font-family: monospace;
    line-height: 1.2rem;
    overflow: scroll;
    height: 100%;

    user-select: text;
    white-space: pre;

    color: var(--figma-color-text);
    scrollbar-color: var(--figma-color-bg-disabled-secondary) transparent;
    scrollbar-width: thin;

    padding: 0 4px 4px 4px;
}

.code_preview .code_line_number {
    display: block;
    width: min-content;
    height: fit-content;
    text-align: right;
    color: var(--figma-color-text-secondary);
    user-select: none;
    padding-right: 6px;
    border-right: 1px solid var(--figma-color-border);
}

.code_preview .code_content {
    display: block;
    width: 1fr;
    padding-left: 6px;
    outline: none;
}

.code_preview .code_variable {
    display: inline-block;
    user-select: text;
    background: var(--figma-color-border-component);
    border-radius: 4px;
    padding: 0 2px;

    cursor: pointer;

    transition: transform 0.3s ease;
}

.code_preview .code_variable:hover {
    transform: scale(1.1);
}

.code_preview .code_function {
    user-select: text;
    color: var(--figma-color-text-success);
    font-weight: 600;
}

.code_preview .code_callable {
    user-select: text;
    color: var(--figma-color-text-component);
    font-style: italic;
}

.code_preview .code_symbol {
    user-select: text;
    font-weight: 600;
}

.code_preview .code_parameter {
    user-select: text;
    color: var(--figma-color-text-brand);
}

.code_preview .code_chip {
    display: inline-block;
    user-select: text;
    color: var(--figma-color-text-secondary);
    background: transparent;
    border-radius: 4px;
    padding: 0 2px;
}

.code_preview .editable_code_chip {
    display: inline-block;
    user-select: text;
    color: var(--figma-color-text-component);
    background: var(--figma-color-border);
    border-radius: 4px;
    padding: 0 2px;
    outline: none;
    cursor: text;
}

.code_preview .editable_code_chip:empty {
    background: var(--figma-color-border);
    padding: 0 4px;
}

.code_preview span[variableHover] {
    background: var(--figma-color-border-component);
}

/*.code_preview .code_chip:after {*/
/*    content: '↺';*/
/*    color: var(--figma-color-text-onbrand);*/
/*    background: var(--figma-color-text-brand);*/
/*    border-radius: 0 1em 1em 0;*/
/*    width: 1em;*/
/*    text-align: center;*/
/*}*/

.code_preview .code_empty {
    grid-row: 3;
    align-self: center;
    justify-self: center;
}

.resize_handle {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 8px 2px 2px;
    background: var(--figma-color-bg-inverse);
    cursor: se-resize;
}

#donate {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}

#donate > img {
    height: 24px;
    padding-right: 8px;
}
